.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col,.col-2,.col-3{
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
    flex:1;
}

.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}